#gameScreen {
    position: relative;
    width: 100%;
    min-height: 100vh;

    background-color: green;
    background: radial-gradient(ellipse at center, rgb(0, 149, 72) 0%,rgb(0, 123, 51) 70%,rgba(0, 255, 60, 0.323) 100%);
}

@media only screen and (min-width: 800px) {
    #gameScreen {
        min-height: 0vh;
        height: 500px;
        width: 800px;
    }
}